## COURSECAT 2017_2018

In [1]:
import pandas as pd
df78 = pd.read_csv('CourseCatalog2017_2018.csv')
df78.head(5)

,program_code,program_name,catalog_id,course_title,credits,prereqs,coreqs,fees,attributes,description
0,AN,Asian Studies,AN 0301,Independent Study,1-3 Credits,NaN,NaN,NaN,NaN,Students undertake an individualized program o...
1,AN,Asian Studies,AN 0310,Asian Studies Seminar,3 Credits,NaN,NaN,NaN,NaN,This seminar examines selected topics concerni...
2,BU,Business,BU 0211,Legal Environment of Business,3 Credits,Junior standing.,NaN,NaN,NaN,This course examines the broad philosophical a...
3,BU,Business,BU 0220,Environmental Law and Policy,3 Credits,NaN,NaN,NaN,"EVME Environmental Studies Major Elective, EVP...",This course surveys issues arising out of fede...
4,BU,Business,BU 0311,"The Law of Contracts, Sales, and Property",3 Credits,BU 0211.,NaN,NaN,NaN,This course examines the components of common ...

In [2]:
df78.isnull().sum()

program_code       0
program_name       0
catalog_id         0
course_title       0
credits            0
prereqs         1091
coreqs          2122
fees            2095
attributes      1454
description      102
dtype: int64

## COURSECAT 2018-2019

In [ ]:
df89 = pd.read_csv('CourseCatalog2018_2019.csv')
df89.head(5)

In [ ]:
df89.isnull().sum()

In [ ]:
df89.insert(0, 'Year', '2018-2019')
df89.head()

In [ ]:
df89.to_csv('CC18-19_updated.csv')