In [4]:
import pandas as pd
df = pd.read_csv('course_meetings.csv')
df.head(10)

       term    crn location day                start                  end
0  Fall2014  70384  DSB 105   T  2014-09-02T08:00:00  2014-09-02T09:15:00
1  Fall2014  70384  DSB 105   F  2014-09-05T08:00:00  2014-09-05T09:15:00
2  Fall2014  70384  DSB 105   T  2014-09-09T08:00:00  2014-09-09T09:15:00
3  Fall2014  70384  DSB 105   F  2014-09-12T08:00:00  2014-09-12T09:15:00
4  Fall2014  70384  DSB 105   T  2014-09-16T08:00:00  2014-09-16T09:15:00
5  Fall2014  70384  DSB 105   F  2014-09-19T08:00:00  2014-09-19T09:15:00
6  Fall2014  70384  DSB 105   T  2014-09-23T08:00:00  2014-09-23T09:15:00
7  Fall2014  70384  DSB 105   F  2014-09-26T08:00:00  2014-09-26T09:15:00
8  Fall2014  70384  DSB 105   T  2014-09-30T08:00:00  2014-09-30T09:15:00
9  Fall2014  70384  DSB 105   F  2014-10-03T08:00:00  2014-10-03T09:15:00